h1 {
    font-size: 50px;
    text-align: center;
    margin: 40px auto;
    color: rgb(67, 53, 190);
}

div {
    font-size: 26px;
    margin: 20px;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
}